 h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
    }

.titlefoz {
    color: rgb(23, 48, 236);
    background-color: rgb(45, 239, 71)
    }

.titlemouss{
    color: rgb(247, 164, 22);
    background-color: rgb(195, 92, 92);
    }

.titlelang {
    color: rgb(230, 51, 149);
    background-color: rgb(190, 4, 223);
}

.returnbutton {
    width: 200 px;
    height: auto;
    color: rgb(5, 239, 251);
    background: rgb(249, 4, 106);
    cursor: pointer;
    
}

